@model IEnumerable<ProyectoMVC.Models.tbMunicipios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4>tbMunicipios</h4>
            </div>
            <div class="col d-flex flex-row-reverse">
                <button type="button" id="btnInsertar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Crear </button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="dataTable display compact stripe table-dark" id="example">
                    <thead>
                        <tr>
                            <th>
                                Municipios
                            </th>

                            <th>
                                Departamentos
                            </th>

                            <th>Detalles</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            
                            @Html.Partial("_ModalesMunicipiosView", item);

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mun_Nombre)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.tbDepartamentos.dep_Nombre)
                                </td>

                                <td>
                                    @Html.ActionLink(" ", "Details", new { id = item.mun_Id }, new { @class = "btn btn-block btn-info bi bi-file-earmark-text-fill" })

                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.mun_Id }, new { @class = "btn btn-block btn-warning bi bi-pencil-fill" })

                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Delete", new { id = item.mun_Id }, new { @class = "btn btn-block btn-danger bi bi-trash-fill" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script>

    $("#btnDetails").click(function () {

        $("exampleModalDitails").modal('show');

    });

    $("#btnEditar").click(function () {

        $("exampleModalEdit").modal('show');

    });

    $("#btnInsertar").click(function () {
        $("exampleModal").modal('show');
    });

    $("#btnDelete").click(function () {
        $("exampleModalDelete").modal('show');
    });

</script>
