@model ProyectoMVC.Models.tbPedidosDetalles

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    try
    {
        if (Session["rol"] != null)
        {
            if (Session["rol"].ToString() != "1" && Session["rol"].ToString() != "2" && Session["rol"].ToString() != "3" && Session["rol"].ToString() != "4")
            {
                Response.Redirect("/Home/Index");
            }

        }

    }
    catch
    {
        Response.Redirect("/Home/Index");
    }

}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container px-4 text-center">
    <div class="row">
        <div class="col">

            <h4>Crear tbPedidosDetalles</h4>

        </div>
    </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group pt-2">
            <div class="col">
            @Html.LabelFor(model => model.ped_Id, "ped_Id", htmlAttributes: new { @class = "control-label col" })
                @Html.DropDownList("ped_Id", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.ped_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group pt-2">
            <div class="col">
            @Html.LabelFor(model => model.art_Id, "art_Id", htmlAttributes: new { @class = "control-label col" })
                @Html.DropDownList("art_Id", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.art_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group pt-2">
            <div class="col">
            @Html.LabelFor(model => model.pede_Cantidad, htmlAttributes: new { @class = "control-label col" })
                @Html.EditorFor(model => model.pede_Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pede_Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group pt-2">
            <div class="col">
            @Html.LabelFor(model => model.pede_Precio, htmlAttributes: new { @class = "control-label col" })
                @Html.EditorFor(model => model.pede_Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pede_Precio, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class=" row form-group d-flex justify-content-end py-3">
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Crear registro" class="btn btn-success mx-2" />
                @Html.ActionLink("Regresar al index", "Index", " ", new { @class = "btn btn-light mx-2" })
            </div>
        </div>
        </div>
}

