@model ProyectoMVC.Models.tbPedidosDetalles

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbPedidosDetalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pede_Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pede_Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pede_Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pede_Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pede_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pede_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pede_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pede_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pede_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pede_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbArticulos.art_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbArticulos.art_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPedidos.metpago_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPedidos.metpago_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
