@model ProyectoMVC.Models.tbDirecciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    try
    {
        if (Session["rol"] != null)
        {
            if (Session["rol"].ToString() != "1" && Session["rol"].ToString() != "2" && Session["rol"].ToString() != "3")
            {
                Response.Redirect("/Home/Index");
            }
        }

    }
    catch
    {
        Response.Redirect("/Home/Index");
    }

}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.cli_Id)

<div>

    <div class="row">
        <div class="col">
            <h4>Direcciones</h4>
        </div>
        <div class="col d-flex justify-content-end">

            <p>
                @Html.ActionLink("Editar", "Edit", "", new { id = Model.dire_ID }, new { @class = "btn btn-warning mx-2" }) |
                @Html.ActionLink("Regresar al index", "Index", " ", new { @class = "btn btn-light mx-2" })
            </p>


        </div>
    </div>









    <hr />

    <div class="container">
        <dl class="dl-horizontal">

            <div class="row">
                <div class="col">
            <dt style="color:White;">
                <label>Calles</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dire_Calle)
            </dd>
    </div>
    <div class="col">
        <dt style="color:White;">
            <label>Comuna</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dire_Comuna)
        </dd>
    </div>
</div>




<div class="row">
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.tbClientes.cli_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbClientes.cli_Nombre)
        </dd>
    </div>
    <div class="col">
        <dt style="color:White;">
            <label>Municipio</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbMunicipios.dep_Id)
        </dd>
    </div>
</div>

<div class="row">
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.dire_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dire_Estado)
        </dd>
    </div>
</div>



    </dl>
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                auditoria
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Accion</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.dire_FechaCreacion)
                            </td>
                        </tr>

                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.dire_FechaModificacion)
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</div>



