@model ProyectoMVC.Models.tbUsuarios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    try
    {
        if (Session["rol"] != null)
        {
            if (Session["rol"].ToString() != "1" && Session["rol"].ToString() != "2" && Session["rol"].ToString() != "5")
            {
                Response.Redirect("/Home/Index");
            }

        }

    }
    catch
    {
        Response.Redirect("/Home/Index");
    }

}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container px-4 text-center">
    <div class="row">
        <div class="col">

            <h4>Crear usuario</h4>

        </div>
    </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group pt-2">
            <div class="col">
            @Html.LabelFor(model => model.usu_Usuario, htmlAttributes: new { @class = "control-label col" })
                @Html.EditorFor(model => model.usu_Usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usu_Usuario, "", new { @class = "text-danger" })
            </div>
            <div class="col">
            @Html.LabelFor(model => model.usu_Contrasenia, htmlAttributes: new { @class = "control-label col" })
                @Html.EditorFor(model => model.usu_Contrasenia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usu_Contrasenia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group pt-2">
            <div class="col">
            @*@Html.LabelFor(model => model.emp_Id, "emp_Id", htmlAttributes: new { @class = "control-label col" })*@
                <label class="control-label col">Empleado</label>
                @Html.DropDownList("emp_Id", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.emp_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @*@Html.LabelFor(model => model.rol_id, "rol_id", htmlAttributes: new { @class = "control-label col" })*@
                <label class="control-label col">Rol</label>
                @Html.DropDownList("rol_id", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.rol_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class=" row form-group d-flex justify-content-end py-3">
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Crear registro" class="btn btn-success mx-2" />
                @Html.ActionLink("Regresar al index", "Index", " ", new { @class = "btn btn-light mx-2" })
            </div>
        </div>
        </div>
}

