@model ProyectoMVC.Models.tbUsuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbUsuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_Contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_Contrasenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados2.emp_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados2.emp_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios2.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios2.usu_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios3.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios3.usu_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbRoles2.rol_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbRoles2.rol_Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
