@model ProyectoMVC.Models.tbClientes

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .oculto {
        display: none;
    }
</style>

<div class="container px-4 text-center">
    <div class="row">
        <div class="col">

            <h4>Crear Clientes</h4>
            ♛
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblNombre">Nombre</label>
            @Html.EditorFor(model => model.cli_Nombre, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblNombreValidacion" style="color:red;" hidden>El siguiente campo es requerido: Nombre</label>
        </div>
    </div>

    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblApellido">Apellido</label>
            @Html.EditorFor(model => model.cli_Apellido, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblApellidoValidacion" style="color:red;" hidden>El siguiente campo es requerido: Apellido</label>
        </div>
    </div>

    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblTelefono">Telefono</label>
            @Html.EditorFor(model => model.cli_Telefono, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblTelefonoValidacion" style="color:red;" hidden>El siguiente campo es requerido: Telefono</label>
        </div>
    </div>

    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblCorreoElectronico">Correo Electronico</label>
            @Html.EditorFor(model => model.cli_CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblCorreoElectronicoValidacion" style="color:red;" hidden>El siguiente campo es requerido: Correo Electronico</label>
        </div>
    </div>

    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblSaldo">Saldo</label>
            @Html.EditorFor(model => model.cli_saldo, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblSaldoValidacion" style="color:red;" hidden>El siguiente campo es requerido: Saldo</label>
        </div>
    </div>

    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblLimiteCrediticio">Limite Crediticio</label>
            @Html.EditorFor(model => model.cli_LimiteCredito, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblLimiteCrediticioValidacion" style="color:red;" hidden>El siguiente campo es requerido: Limite Crediticio</label>
        </div>
    </div>

    <div class="row form-group pt-2">
        <div class="col">
            <label class="control-label col" id="lblDescuento">Descuento</label>
            @Html.EditorFor(model => model.cli_Descuento, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label col" id="lblDescuentoValidacion" style="color:red;" hidden>El siguiente campo es requerido: Descuento</label>
        </div>
    </div>


    <div class=" row form-group d-flex justify-content-end py-3">
        <div class="col d-flex justify-content-end">
            <input type="submit" value="Crear registro" id="btnCliente" class="btn btn-success mx-2" />
        </div>

    </div>
</div>

<div class="oculto container px-4 text-center">

        <div class="row form-group pt-2">
            <div class="col">
                <label class="control-label col">Departamento</label>
                @Html.DropDownList("dep_Id", null, htmlAttributes: new { @class = "form-select" })
            </div>
            <div class="col">
                <label class="control-label col">Municipio</label>
                <select id="mun_Id" name="mun_Id" class="form-select">
                </select>
            </div>
        </div>

        <div class="row form-group pt-2">
            <div class="col">
                <label class="control-label col">Calle</label>
                <input type="text" id="dire_calle"  class="form-control"/>
            </div>
        </div>

        <div class="row form-group pt-2">
            <div class="col">
                <label class="control-label col">Comuna</label>
                <input type="text" id="dire_comuna"  class="form-control"/>
            </div>
        </div>


        <div class=" row form-group d-flex justify-content-end py-3">
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Agregar direccion" id="btnDireccion" class="btn btn-success mx-2" />
            </div>

        </div>

</div>




<script>
    $("#dep_Id").change(function () {
        var dep_Id = $("#dep_Id").val();
        $.ajax({
            url: "/Clientes/CargarMunicipios",
            method: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ dep_Id: dep_Id }),
            success: function (data) {
                console.log(data);
                $("#mun_Id").empty();
                $("#mun_Id").append("<option value='0'>--Seleccione un municipio--</option>");
                $.each(data, function (i, value) {
                    $("#mun_Id").append("<option value='" + value.mun_Id + "'>" + value.mun_Nombre + "</option>")
                })
            }
        })
    });


    $("#btnCliente").click(function () {

        $("#lblNombreValidacion").attr("hidden", true);
        $("#lblApellidoValidacion").attr("hidden", true);
        $("#lblTelefonoValidacion").attr("hidden", true);
        $("#lblCorreoElectronicoValidacion").attr("hidden", true);
        $("#lblSaldoValidacion").attr("hidden", true);
        $("#lblLimiteCrediticioValidacion").attr("hidden", true);
        $("#lblDescuentoValidacion").attr("hidden", true);

        if ($("#cli_Nombre").val() != "" && $("#cli_Apellido").val() != "" && $("#cli_Telefono").val() != "" && $("#cli_CorreoElectronico").val() != "" &&
            $("#cli_saldo").val() != "" && $("#cli_LimiteCredito").val() != "" && $("#cli_Descuento").val() != "") {
            $(".oculto").show();
            $("#btnCliente").prop("disabled", true);
            $("#cli_Nombre").prop("disabled", true);
            $("#cli_Apellido").prop("disabled", true);
            $("#lblTelefono").fadeOut();
            $("#cli_Telefono").fadeOut();
            $("#lblCorreoElectronico").fadeOut();
            $("#cli_CorreoElectronico").fadeOut();
            $("#lblSaldo").fadeOut();
            $("#cli_saldo").fadeOut();
            $("#lblLimiteCredito").fadeOut();
            $("#cli_LimiteCredito").fadeOut();
            $("#lblDescuento").fadeOut();
            $("#cli_Descuento").fadeOut();

            var cli_Nombre = $("#cli_Nombre").val();
            var cli_Apellido = $("#cli_Apellido").val();
            var cli_Telefono = $("#cli_Telefono").val();
            var cli_CorreoElectronico = $("#cli_CorreoElectronico").val();
            var cli_saldo = $("#cli_saldo").val();
            var cli_LimiteCredito = $("#cli_LimiteCredito").val();
            var cli_Descuento = $("#cli_Descuento").val();

            $.ajax({
                type: "POST",
                url: "/Clientes/Crea2",
                data: { cli_Nombre: cli_Nombre, cli_Apellido: cli_Apellido, cli_Telefono: cli_Telefono, cli_CorreoElectronico: cli_CorreoElectronico, cli_saldo: cli_saldo, cli_LimiteCredito: cli_LimiteCredito, cli_Descuento: cli_Descuento },
                success: function (response) {

                },
                error: function (error) {

                }
            });

        }else {
            if ($("#cli_Nombre").val() == "") {
                $("#lblNombreValidacion").attr("hidden", false);
            }
            if ($("#cli_Apellido").val() == "") {
                $("#lblApellidoValidacion").attr("hidden", false);
            }
            if ($("#cli_Telefono").val() == "") {
                $("#lblTelefonoValidacion").attr("hidden", false);
            }
            if ($("#cli_CorreoElectronico").val() == "") {
                $("#lblCorreoElectronicoValidacion").attr("hidden", false);
            }
            if ($("#cli_saldo").val() == "") {
                $("#lblSaldoValidacion").attr("hidden", false);
            }
            if ($("#cli_LimiteCredito").val() == "") {
                $("#lblLimiteCrediticioValidacion").attr("hidden", false);
            }
            if ($("#cli_Descuento").val() == "") {
                $("#lblDescuentoValidacion").attr("hidden", false);
            }

    }
    });


    $("#btnDireccion").click(function () {
        if ($("#mun_Id").val() != "" && $("#dire_comuna").val() != "" && $("#dire_calle").val() != "" ) {
            
            var mun_Id = $("#mun_Id").val();
            var dire_comuna = $("#dire_comuna").val();
            var dire_calle = $("#dire_calle").val();

            $.ajax({
                type: "POST",
                url: "/Clientes/Crea2Dire",
                data: { dire_calle: dire_calle, dire_comuna: dire_comuna, mun_Id: mun_Id},
                success: function (response) {

                },
                error: function (error) {

                }
            });

        }
    });




</script>



