@model ProyectoMVC.Models.tbClientes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    try
    {
        if (Session["rol"] != null)
        {
            if (Session["rol"].ToString() != "1" && Session["rol"].ToString() != "2" && Session["rol"].ToString() != "3")
            {
                Response.Redirect("/Home/Index");
            }
        }

    }
    catch
    {
        Response.Redirect("/Home/Index");
    }


}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.cli_Id)

<div>

    <div class="row">
        <div class="col">
            <h4>Clientes</h4>
        </div>
        <div class="col d-flex justify-content-end">

            <p>
                @Html.ActionLink("Editar", "Edit", "Clientes", new { id = Model.cli_Id }, new { @class = "btn btn-warning mx-2" }) |
                @Html.ActionLink("Regresar al index", "Index", " ", new { @class = "btn btn-light mx-2" })
            </p>


        </div>
    </div>









    <hr />

    <div class="container">
        <dl class="dl-horizontal">

            <div class="row">
                <div class="col">
            <dt style="color:White;">
                @Html.DisplayNameFor(model => model.cli_Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cli_Nombre)
            </dd>
    </div>
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Apellido)
        </dd>
    </div>
</div>


<div class="row">
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Telefono)
        </dd>
    </div>
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_CorreoElectronico)
        </dd>
    </div>
</div>


<div class="row">
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_saldo)
        </dd>
    </div>
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_LimiteCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_LimiteCredito)
        </dd>
    </div>
</div>


<div class="row">
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Descuento)
        </dd>
    </div>
    <div class="col">
        <dt style="color:White;">
            @Html.DisplayNameFor(model => model.cli_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_Estado)
        </dd>
    </div>
</div>


    </dl>
</div>

<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                Dirreciones
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table id="example" class="dataTable display compact stripe table-dark">
                    <thead>
                        <tr>
                            <td>Calle</td>
                            <td>Comuna</td>
                            <td>Departamento</td>
                            <td>Municipios</td>
                            <td>Detalles</td>
                        </tr>
                    </thead>
                    <tbody id="tbodyDirecciones">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                auditoria
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Accion</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Creado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.cli_FechaCreacion)
                            </td>
                        </tr>

                        <tr>
                            <td>Modificado</td>
                            <td>
                                @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.cli_FechaModificacion)
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function () {
        var cli_Id = $("#cli_Id").val();

        $.ajax({
            type: 'POST',
            url: '/Clientes/CargarDirecciones',
            data: { cli_Id: cli_Id },
            success: function (result) {
                var cadena = "";
                $.each(result, function (index, item) {
                    cadena += "<tr><td>" + item.dire_Calle + "</td><td>" + item.dire_Comuna + "</td><td>" + item.dep_Nombre + "</td><td>" + item.mun_Nombre + "</td><td>" + "<a href = '/Direcciones/Details/" + item.dire_ID + "' class='btn btn-block btn-info bi bi-file-earmark-text-fill' ></a> " + "" + "  " + "</td></tr>";
                    
                });
                $("#tbodyDirecciones").html(cadena);

            },
            error: function (error) {
            }
        });
    });


</script>




