<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <link href="~/Content/iziToast-master/dist/css/iziToast.css" rel="stylesheet" />
    <link href="~/Content/iziToast-master/dist/css/iziToast.min.css" rel="stylesheet" />

    <style>

        .modal-backdrop {
            background-color: none;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 0;
            width: 0vw;
            height: 0vh;
        }

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #191c24;
            background-clip: padding-box;
            border: 1px solid rgba(255,255,255,0.5);
            border-radius: 0.3rem;
            outline: 0;
        }

            .modal-content label {
                padding-left: 10px;
            }


    </style>
</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>NimbusTech</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">@Session["Nombre"]</h6>
                        <span>@Session["rolNombre"]</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/Pedidos/Index" class="nav-item nav-link"><i class="bi bi-journal-bookmark-fill me-2"></i>Pedidos</a>@*bi bi-journal-bookmark-fill*@
                    <a href="/Clientes/Index" class="nav-item nav-link"><i class="bi bi-people-fill me-2"></i>Clientes</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-cart-fill me-2"></i>Productos</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/Articulos/Index" class="dropdown-item">Articulos</a>
                            <a href="/Categorias/Index" class="dropdown-item">Categorias</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-emoji-angry me-2"></i>Personal</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/Empleados/Index" class="dropdown-item">Empleados</a>
                            <a href="/Cargos/Index" class="dropdown-item">Cargos</a>
                        </div>
                    </div>
                    <a href="/Fabricas/Index" class="nav-item nav-link"><i class="bi bi-shop me-2"></i>Fabricas</a>
                    <a href="/Usuarios/Index" class="nav-item nav-link"><i class="bi bi-person-fill me-2"></i>Usuarios</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-map-fill me-2"></i>Territorios</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/Departamentos/Index" class="dropdown-item">Departamentos</a>
                            <a href="/Municipios/Index" class="dropdown-item">Municipios</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-gear-wide-connected me-2"></i>Otros</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/MetodoPagoes/Index" class="dropdown-item">Metodos de pago</a>
                            <a href="/EstadosCiviles/Index" class="dropdown-item">Estados Civiles</a>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="navbar-nav align-items-center ms-auto">


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Usuario</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">Mi perfil</a>
                            <a href="#" class="dropdown-item">Ajustes</a>
                            <a href="#" class="dropdown-item">Cerrar Sesion</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row bg-secondary rounded p-3">
                    <div class="col">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- Blank End -->
            <!-- Footer Start -->
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/chart/chart.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/iziToast-master/dist/js/iziToast.js"></script>

    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
        });
    </script>

    <script>


        function llamarmodal() {

            $('#myModal').modal('show');
        }

        function modalDelete(id) {

            localStorage['IdDelete'] = id;
            $('#myModal').modal('show');
        }


    </script>


</body>
</html>
