
@model ProyectoMVC.Models.tbDepartamentos


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="@Url.Action("Create","Departamentos")" method="POST">
                <div class="modal-body">


                    <label for="floatingInput">Id Departamento</label>
                    <input type="text" class="form-control" id="floatingInput" name="txtIdDepartamento" placeholder=" ID de Departamentos" maxlength="2" required>

                    <label for="floatingInput">Departamentos</label>
                    <input type="text" class="form-control" id="floatingInput" name="txtDepartamento" placeholder="Departamentos" required>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModalDelete-@Model.dep_Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="animation-fill-mode: unset !important;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="@Url.Action("DeleteConfirm","Departamentos")" method="POST">
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.dep_Id)

                    <h2 style="color:white;">Estas seguro de querer eliminar este Departamento?</h2>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalEdit-@Model.dep_Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="animation-fill-mode: unset !important;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="@Url.Action("Editt","Departamentos")" method="POST">
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" ,required = "required" })
                    @Html.HiddenFor(model => model.dep_Id)

                    <div class="row form-group pt-2">


                        <div class="col">
                            <label class="control-label">Departamento</label>
                            @Html.EditorFor(model => model.dep_Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dep_Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

