@model ProyectoMVC.Models.tbCargos

@{
    ViewBag.Title = "Create";
}


 


    @Html.AntiForgeryToken()
    
    <div class="card px-4 text-center">
        <div class="tools">

            <h4>Crear Registro</h4>

        </div>
        <div class="card__content">
            

       
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
        
        <div class="form-group row pt-2">
        <div class="col-md-6">
            @Html.LabelFor(model => model.car_Nombre, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.car_Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.car_Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

      
        
        <div class="form-group row pt-2">
        <div class="col-md-6">
            @Html.LabelFor(model => model.car_FechaCreacion, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.car_FechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.car_FechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

      
        
        <div class="form-group row pt-2">
        <div class="col-md-6">
            @Html.LabelFor(model => model.car_UsuarioCreacion, "car_UsuarioCreacion", htmlAttributes: new { @class = "control-label " })
            
                @Html.DropDownList("car_UsuarioCreacion", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.car_UsuarioCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

      
        
        <div class="form-group row pt-2">
        <div class="col-md-6">
            @Html.LabelFor(model => model.car_FechaModificacion, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.car_FechaModificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.car_FechaModificacion, "", new { @class = "text-danger" })
            </div>
        </div>

      
        
        <div class="form-group row pt-2">
        <div class="col-md-6">
            @Html.LabelFor(model => model.car_UsuarioModificacion, "car_UsuarioModificacion", htmlAttributes: new { @class = "control-label " })
            
                @Html.DropDownList("car_UsuarioModificacion", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.car_UsuarioModificacion, "", new { @class = "text-danger" })
            </div>
        </div>

      
        
        <div class="form-group row pt-2">
        <div class="col-md-6">
            @Html.LabelFor(model => model.car_Estado, htmlAttributes: new { @class = "control-label" })
            
                <div class="checkbox">
                    @Html.EditorFor(model => model.car_Estado)
                    @Html.ValidationMessageFor(model => model.car_Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

                <div class="row d-flex justify-content-end py-3">
                    <div class="col d-flex justify-content-end">
                        <input type="submit" value="Crear registro" class="btn btn-success mx-2" />
                         @Html.ActionLink("Regresar al index", "Index" , " ", new {@class ="btn btn-danger mx-2"})
                    </div>
                 
                </div>
            </div>
        </div>
   </div>




