@model ProyectoMVC.Models.tbCargos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbCargos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.car_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.car_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
