@model IEnumerable<ProyectoMVC.Models.tbCargos>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";


        try
        {
            if (Session["rol"] != null)
            {
                if (Session["rol"].ToString() != "1" && Session["rol"].ToString() != "2")
                {
                    Response.Redirect("/Home/Index");
                }
            }

        }
        catch
        {
            Response.Redirect("/Home/Index");
        }





    }

    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4>Cargos</h4>
                </div>
                <div class="col d-flex flex-row-reverse">
                    <button type="button" id="btnInsertar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Crear </button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table class="dataTable display compact stripe table-dark" id="example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.car_Nombre)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                            @Html.Partial("_ModalesCargosView", item);
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.car_Nombre)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Details", new { id=item.car_Id }, new { @class="btn btn-block btn-info bi bi-file-earmark-text-fill" })

                                    <button type="button" id="btnEditar" class="btn btn-block btn-warning bi bi-pencil-fill" data-bs-toggle="modal" data-bs-target="@("#exampleModalEdit-" + item.car_Id)"> </button>

                                    <button type="button" id="btnDelete" class="btn btn-block btn-danger bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="@("#exampleModalDelete-" + item.car_Id)"> </button>
                                </td>
                            </tr>
                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script>

        $("#btnEditar").click(function () {

            $("exampleModalEdit").modal('show');

        });

        $("#btnInsertar").click(function () {
            $("exampleModal").modal('show');
        });

        $("#btnDelete").click(function () {
            $("exampleModalDelete").modal('show');
        });

    </script>
