@model ProyectoMVC.Models.tbRoles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="row">
    <div class="col">
     <h4>tbRoles</h4>
</div>
<div class="col d-flex justify-content-end">

<p>
    @Html.ActionLink("Editar", "Edit", "", new { id = Model.rol_id }, new { @class = "btn btn-warning mx-2" }) |
    @Html.ActionLink("Regresar al index", "Index", " ", new { @class = "btn btn-light mx-2" })
</p>


</div>
</div>


   


    



    <hr />
    
    <div class="container">
    <dl class="dl-horizontal">

    <div class="row">
    <div class="col">
        <dt>
            @Html.DisplayNameFor(model => model.rol_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol_Nombre)
        </dd>
</div>
</div>


    <div class="row">
    <div class="col">
        <dt>
            @Html.DisplayNameFor(model => model.rol_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol_FechaCreacion)
        </dd>
</div>
</div>


    <div class="row">
    <div class="col">
        <dt>
            @Html.DisplayNameFor(model => model.rol_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol_FechaModificacion)
        </dd>
</div>
</div>


    <div class="row">
    <div class="col">
        <dt>
            @Html.DisplayNameFor(model => model.rol_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol_Estado)
        </dd>
</div>
</div>


    <div class="row">
    <div class="col">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_Usuario)
        </dd>
</div>
</div>


    <div class="row">
    <div class="col">
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_Usuario)
        </dd>
</div>
</div>

    </dl>
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
            auditoria
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                        <table class="table">
                <thead>
                    <tr>
                    <th>Accion</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Creado</td>
                    <td></td>
                    <td></td>
                    </tr>
                    
                    <tr>
                    <td>Modificado</td>
                    <td></td>
                    <td></td>
                    </tr>
                </tbody>
            </table>

            </div>
        </div>
    </div>
</div>

</div>

